<script>
export default {
  data() {
    return {
      token: '',
      tokenInfo: null,
      errorMessage: null,
    };
  },
  methods: {
    buscarToken() {
      const url = process.env.VUE_APP_BACKEND_URL + 'tokens?token=' + this.token;

      fetch(url, {
        method: 'GET',
        headers: {
          'Accept': 'application/json',
        },
      })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (!(data.data)) {
              this.errorMessage = data.message;
            } else {
              this.tokenInfo = data.data;
            }
          })
          .catch(error => {
            this.errorMessage = error.message;
            console.error('Error al buscar el token: ', error)
          });
    },
  },
};
</script>

<template>
  <div>
    <h2>Consultar Token</h2>
    <form @submit.prevent="buscarToken">
      <div class="search-container">
        <label for="token" class="label-token">Token:</label>
        <input
            v-model="token"
            type="text"
            id="token"
            maxlength="16"
            class="input-token"
            required
        >
        <button type="submit" class="btn-buscar">
          <font-awesome-icon icon="search" /> Buscar
        </button>
      </div>
    </form>

    <div v-if="tokenInfo" class="token-info-container">
      <h3>Información del Token</h3>
      <table class="token-info-table"> <!-- Tabla de resultados -->
        <thead>
        <tr>
          <th>Nro. Tarjeta</th>
          <th>Mes Exp.</th>
          <th>Año Exp.</th>
          <th>Email</th>
          <th>Token</th>
          <th>Exp. Token</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td v-for="(value, key) in tokenInfo" :key="key">
            {{ (key === 'expiration') ? value.substring(0,10): value }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div v-if="errorMessage" class="error-message">
      <p class="error-text">{{ errorMessage }}</p>
    </div>

  </div>
</template>

<style scoped>
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  margin: 0 auto;
  gap: 3px;
}
.label-token {
  font-weight: bold;
  font-size: 16px;
}
.input-token {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn-buscar {
  background-color: #4caf50 !important;
  color: #ffffff !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  margin-top: 10px !important;
  margin-left: 25px !important;
}
.btn-buscar:hover {
  background-color: #45a049 !important;
}

.token-info-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.token-info-table {
  width: 100%;
  border-collapse: collapse;
}

.token-info-table th, .token-info-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.token-info-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: left;
}

.token-info-table td {
  text-align: center;
}

.error-message {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #8b0000;
  border-radius: 8px;
  background-color: #ffb6c1;
  color: #8b0000;
  font-weight: bold;
}
</style>