<script>
import Swal from 'sweetalert2';

export default {
  data() {
    return {
      cardNumber: '',
      cvv: '',
      expirationMonth: '',
      expirationYear: '',
      email: '',
      shouldClearEmail: false,
      cardNumberError: null,
    };
  },
  methods: {
    copyToClipboard(text) {
      const el = document.createElement('textarea');
      el.value = text;
      el.setAttribute('readonly', '');
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);
      const selected = document.getSelection().rangeCount > 0 ? document.getSelection().getRangeAt(0) : false;
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
      if (selected) {
        document.getSelection().removeAllRanges();
        document.getSelection().addRange(selected);
      }
      Swal.fire('Copiado!', 'El token ha sido copiado al portapapeles.', 'success');
    },
    isLuhnValid(cardNumber) {
      const digits = cardNumber.replace(/\D/g, '').split('').map(Number);
      let sum = 0;
      let isEven = false;

      for (let i = digits.length - 1; i >= 0; i--) {
        let digit = digits[i];

        if (isEven) {
          digit *= 2;
          if (digit > 9) {
            digit -= 9;
          }
        }

        sum += digit;
        isEven = !isEven;
      }

      return sum % 10 === 0;
    },
    formatCardNumber() {
      try {
        const cleanedNumber = this.cardNumber.replace(/\D/g, '');
        if (cleanedNumber.length >= 13 && cleanedNumber.length <= 16 && this.isLuhnValid(cleanedNumber)) {
          const formattedNumber = cleanedNumber.match(/.{1,4}/g).join(' ');
          this.cardNumber = formattedNumber;
          this.cardNumberError = null;
        } else {
          throw new Error('Número de tarjeta inválido');
        }
      } catch (error) {
        this.cardNumberError = error.message;
      }
    },
    validateCVV() {
      this.cvv = this.cvv.replace(/\D/g, '');
    },
    validateMonth() {
      this.expirationMonth = this.expirationMonth.replace(/\D/g, '');
    },
    validateYear() {
      this.expirationYear = this.expirationYear.replace(/\D/g, '');
    },
    handleEmailInput() {
      if (this.shouldClearEmail) {
        this.email = '';
        this.shouldClearEmail = false;
      }
      // Resto de tu lógica de validación de email aquí
    },
    validateEmail() {
      const emailPattern = /^[a-zA-Z0-9._%+-]+@(gmail\.com|hotmail\.com|yahoo\.es)$/;

      if (!emailPattern.test(this.email)) {
        // this.email = '';
        this.shouldClearEmail = true;
      }
    },

    handleSubmit() {
      const backendUrl = process.env.VUE_APP_BACKEND_URL + 'tokens';

      const data = {
        card_number: this.cardNumber.replace(/\s+/g, ''),
        cvv: this.cvv,
        expiration_month: this.expirationMonth,
        expiration_year: this.expirationYear,
        email: this.email,
        cardNumberError: null,
      };

      fetch(backendUrl, {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + process.env.VUE_APP_BACKEND_API_KEY,
        },
        body: JSON.stringify(data),
      })
          .then(response => response.json())
          .then(data => {
            const token = data.data.token;

            Swal.fire({
              title: 'Guarda tu token en un lugar seguro',
              icon: 'success',
              html: `
                <span style="color: blue; font-weight: bold;">${token}</span>
                <br>
              `,
              footer: data.message,
              hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
              },
              confirmButtonText: 'Copiar'
            }).then((result) => {
              if (result.isConfirmed) {
                this.copyToClipboard(token);
              }
            });
          })
          .catch(error => {
            console.error('Error al enviar la solicitud:', error);
          });
    },
  },
};
</script>

<template>
  <div>
    <h2>Crear Token</h2>
    <form @submit.prevent="handleSubmit" class="credit-card-form">
      <div class="form-group">
        <label for="card_number">Número de Tarjeta:</label>
        <input
            id="card_number"
            v-model="cardNumber"
            type="text"
            class="form-control"
            maxlength="16"
            @input="formatCardNumber"
            required
        >
        <div v-if="cardNumberError" class="error-message">
          {{ cardNumberError }}
        </div>
      </div>
      <div class="form-group">
        <label for="cvv">CVV:</label>
        <input
            v-model="cvv"
            type="text"
            id="cvv"
            maxlength="4"
            inputmode="numeric"
            pattern="[0-9]*"
            @input="validateCVV"
            required
        >
      </div>
      <div class="form-group">
        <label for="expiration_month">Mes de Expiración:</label>
        <input
            v-model="expirationMonth"
            type="text"
            id="expiration_month"
            maxlength="2"
            inputmode="numeric"
            pattern="[0-9]*"
            @input="validateMonth"
            required
        >
      </div>
      <div class="form-group">
        <label for="expiration_year">Año de Expiración:</label>
        <input
            v-model="expirationYear"
            type="text"
            id="expiration_year"
            maxlength="4"
            inputmode="numeric"
            pattern="[0-9]*"
            @input="validateYear"
            required
        >
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input
            v-model="email"
            type="email"
            id="email"
            maxlength="100"
            inputmode="email"
            @input="handleEmailInput"
            required
        >
      </div>
      <button class="custom-button" type="submit">Crear Token</button>
    </form>
  </div>
</template>

<style scoped>
.custom-button {
  background-color: #4caf50 !important;
  color: #ffffff !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  margin-top: 10px !important;
}

.custom-button:hover {
  background-color: #45a049 !important;
}

form {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.credit-card-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 150px;
}

input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

</style>